<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/detail.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>用户信息</title>
</head>

<body>
    <div id="container">
        <img src="/resources/portrait/female.jpg" alt="头像" id="portrait">
        <div id="info">
            <h4>个人信息</h4>
            <p><strong>昵称：</strong><span id="nickname">{{ name }}</span></p>
            <p><strong>性别：</strong><span id="gender">{{ gender }}</span></p>
            <p><strong>称号：</strong><span>{{if (score > 300)}}盖世才子{{else if (score>150) }}名震一方{{else if (score>100) }}小有成就{{ else if(score>60)}}略知一二{{ else if(score>30)}}初入学途{{ else if(score>15)}}稚嫩学童{{ else}}暂无称号{{/if}}</span></p>
            <p><strong>积分：</strong><span>{{ score }}</span></p>
            <button type="button" class="btn btn-link float-right" id="change">修改</button>
            <div style="display: none" id="detail">
                <p>
                    <label for="name"><strong>修改昵称：</strong></label>
                    <input type="text" placeholder="请输入昵称" id="name">
                </p>
                <p>
                    <label for="name"><strong>修改密码：</strong></label>
                    <input type="password" placeholder="请输入密码" id="pwd">
                </p>
                <button type="submit" class="btn btn-primary" id="submit">提交</button>
            </div>
        </div>
    </div>
    <script>
        let portrait = ($("#gender").text() === '男') ? '/resources/portrait/male.jpg' : '/resources/portrait/female.jpg';
        $("#portrait").attr({
            "src": portrait
        });
        $("#change ").click(function() {
            $("#detail ").slideToggle("slow ");
        });
        $("#submit ").click(function() {
            if ($("#name ").val().length > 10) {
                alert('用户名长度不超过10个字符');
            } else {
                let name = $("#name ").val() === '' ? {} : {
                    name: $("#name ").val()
                };
                let pwd = $("#pwd ").val() === '' ? {} : {
                    passwordEncrypt: $("#pwd ").val()
                };
                $.ajax({
                    url: '/detail',
                    method: 'post',
                    data: {
                        ...name,
                        ...pwd
                    },
                    success: function(data) {
                        if (data.result) {
                            alert(data.message);
                            window.location.href = "/";
                        } else {
                            alert(data.message);
                        }
                    },
                    err: function(err) {
                        alert(err);
                    }
                });
            }
        });
        $(document).keydown(function(event) {
            if (event.keyCode == 9) {
                window.location.href = "/scene";
            }
        });
    </script>
</body>

</html>